<!-- Front page for logged in users -->
{% extends 'base1.html' %}

{% block content %}
<style>
body{
  padding-top:52px;
}
</style>
<div class="jumbotron masthead" >
  <div class="container">
    <h1>Welcome!</h1>
    <p>Explore the menu options above to get started on an awesome journey of CCAs</p>
    <div class = "span3 offset4">
      <img class = "main-logo" src="../images/nusccaimage.png" style = "margin-top: 5%; margin-bottom:30%;">
    </div>
  </div>
</div>
<!--  <div class="span8 offset1">
  	<div class="hero-unit" style="background-color: #C9F2FC;">
  	  <h2>Welcome to NUS CCA Finder!</h2>
      <p>Feel free to look around!</p>
  	</div>
  </div>
  <div class="span2">
    <div id="recommends">
      Loading
    </div>
  </div>
  <div class="span1">
  </div>
</div>-->
{% endblock %}