<!-- view page: a guide to halls extends base1 -->
{% extends 'base1.html' %}

{% block content %}  
<div class="container">   
  <div class="row" style="margin-bottom: 50px;">  
    <div class="span12">  
      <h3 style = "text-align:center;">View by location</h3>  
      <p> </p>  
      <div id="slider" class="carousel slide container" style="width: 400px;margin: 0 auto">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
          <li data-target="#slider" data-slide-to="3"></li>
          <li data-target="#slider" data-slide-to="4"></li>
          <li data-target="#slider" data-slide-to="5"></li>
          <li data-target="#slider" data-slide-to="6"></li>
          <li data-target="#slider" data-slide-to="7"></li>
          <li data-target="#slider" data-slide-to="8"></li>
        </ol> 
        <div class="carousel-inner"> 
          <div class="active item">
            <a href="/view/hall?hall=Campus"><img src="/images/nuscampus.png" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">NUS Campus</h5>
            </div>
          </div>    
          <div class="item">
            <a href="/view/hall?hall=Eusoff"><img src="/images/eusoff.jpg" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">Eusoff</h5>
            </div>
          </div>  
          <div class="item">
            <a href="/view/hall?hall=Kent Ridge"><img src="/images/kentridge.jpg" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">Kent Ridge</h5>
 
            </div>
          </div> 
          <div class="item">
            <a href="/view/hall?hall=King Edward"><img src="/images/kingedward.jpg" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">King Edward</h5>
            </div>
          </div> 

          <div class="item">
            <a href="/view/hall?hall=Raffles"><img src="/images/raffles.jpg" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">Raffles</h5>
            </div>
          </div> 

          <div class="item">
            <a href="/view/hall?hall=Temasek"><img src="/images/temasek.jpg" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">Temasek</h5>
            </div>
          </div> 

          <div class="item">
            <a href="/view/hall?hall=UTown"><img src="/images/utown.gif" /></a>
            <div class="carousel-caption">
              <h5 style="color: white;">Utown</h5>
            </div>
          </div> 

        </div>  
    <!-- Carousel nav -->  
        <a class="carousel-control left" href="#slider" data-slide="prev">&lsaquo;</a>  
        <a class="carousel-control right" href="#slider" data-slide="next">&rsaquo;</a>  
      </div>  
    </div>

    <div class="span5 offset3">
    </div>
  </div> <!--end of row-->
</div> <!--end of container-->
{% endblock %}
