<!-- Front page: before log in -->
<!DOCTYPE HTML>
<html>
  <head>
    <title> NUS CCA Finder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
        <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 10px;
      }
    </style>
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
     <link type="text/css" rel="stylesheet" href="../stylesheets/docs2.css">
     <link type="text/css" rel="stylesheet" href="../stylesheets/mystyles.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Lobster+Two' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../stylesheets/zocial.css">
  </head>
  <body>
    

      <!-- Main navigation -->
      <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href = "/index">NUS CCA Finder</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class = "active"> <a  href="/index">Home</a> </li>
          <li class = "dropdown active"><a href="/profile">Profile</a></li>
          <li class = "active"> <a href="/search">Friendster up!</a> </li>
         
          <li class=" active dropdown"> 
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">View<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/view">Overview</a></li>
              <li class="divider"></li>
              <li><a href="/viewbyhall">View by halls</a></li>
              <li class="divider"></li>
              <li><a href="/viewbycategory">View by category</a></li>
              <li class="divider"></li>
              <li><a href="/viewbysearch">Search</a></li>
        </ul>
      </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  

	<div class="span4 offset8 signin-align">
	  <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	</div>
      </div>
    </div>
      <!-- End of top bar -->

    <!-- Main navigation -->
    <!--will be inherited by all the others--><!--attention: div is not closed here for profile page-->

    <!--children can change the following part-->
    {% block content %} {% endblock%} 

  <footer class="footer" style = "margin-top: 30px;">
    <div class="container-fluid">
      <div class="navbar navbar-inner  navbar-fixed-bottom">
        <!-- AddThis Button BEGINS -->
        <div style="float:right; width:55%;">
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
          </div>
        </div>
        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a494685fdfa90c"></script>
        <!-- AddThis Buttons END -->

        <!--<div id="interfacecontainerdiv" class="interfacecontainerdiv"></div> <!--login radius-->
      </div>
    </div>
  </footer>
    
    <script type="text/javascript" src="/scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.js"></script>
  </body>
</html>
