<!-- display searching result for a person's cca, extends from base1 -->
{% extends 'base1.html' %}

{% block content %}
  <h4> Searching Results </h4>
  <p>for the user with email: </p><p><span>{{ target_mail }}</span></p><br />
  <p>CCAs s/he is currently in:</p>

  <table class="table table-bordered table-striped">
	  <thead>
	    <tr><th class="table-header">Name</th><th class="table-header">Venue</th><th class="table-header">Category</th><th width="50%"  class="table-header">Description</th><th  class="table-header">Date</th></tr>
	  </thead>
	  <tbody>
	    {% for CCA in CCAs1 %}
	    <tr>
	  	  <td>
          {{ CCA.name }}
	  	  </td>
	  	  <td>
          {{ CCA.venue }}
	  	  </td>
        <td>
          {{ CCA.category }}
        </td>
	  	  <td>
	  	  {{ CCA.description }} 
	  	  </td>
	      <td>
	      {{ CCA.date }}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
  </table>

  <p>CCAs s/he is interested</p>
  <table class="table table-bordered table-striped" >
	  <thead>
	    <tr><th class="table-header">Name</th><th class="table-header">Venue</th><th class="table-header">Category</th><th width="50%" class="table-header">Description</th><th class="table-header">Date</th></tr>
	  </thead>
	  <tbody>
	    {% for CCA in CCAs2 %}
	    <tr>
	  	  <td>
          {{ CCA.name }}
	  	  </td>
	  	  <td>
          {{ CCA.venue }}
	  	  </td>
        <td>
          {{ CCA.category }}
        </td>
	  	  <td>
	  	    {{ CCA.description }} 
	  	  </td>
	      <td>
	        {{ CCA.date }}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
  </table>
{% endblock %}
