<!---edit profile page  extends from base-->
{% extends 'base1.html' %}

{% block content %}      
      <!--the following form is not properly defined-->
      <form action='/editprofile' enctype="multipart/form-data" method='post'>
	<fieldset>
	  <div class = "row-fluid">
      <div class="span6 offset1">
        <blockquote>Your Info: 
        </blockquote>
        <br />
      </div>
	    <div class="span6 offset2">
        <span class="info">Your picture: </span>
	      <input type="file" name="face_img">
	    </div>
	    <div class="span6 offset2"> 
        <div class="info">Name: </div>
	      <input type="text" placeholder="Your name" value="{{ name }}" name="person_name">
	    </div>
	    <div class="span6 offset2"> 
	      Gender:&nbsp;&nbsp; 
	      <input type="radio" name="person_gender" value="Male" checked>Male &nbsp;&nbsp;&nbsp;
	      <input type="radio" name="person_gender" value="Female" >Female
	    </div>
	    <div class="span6 offset2">
	      Year: &nbsp;&nbsp;&nbsp;
	      <select name="person_year">
	      	<option value='1'>Year 1</option>
	      	<option value='2'>Year 2</option>
	      	<option value='3'>Year 3</option>
	      	<option value='4'>Year 4</option>
	      	<option value='5'>Year 5</option>
	      </select>
	    </div>
	    <div class="span6 offset2">
	      Faculty: &nbsp;&nbsp;&nbsp;&nbsp;
	      <input type="text" placeholder="Your faculty" value="{{ faculty }}" name="person_faculty">
	    </div>
	    <div class="span6 offset2">
          Residence:
          <select name="person_residence">
          	<option value="Eusoff">Eusoff</option>
          	<option value="King Edward">King Edward</option>
          	<option value="Kent Ridge">Kent Ridge</option>
          	<option value="Raffles">Raffles</option>
          	<option value="Sheares">Sheares</option>
          	<option value="Temasek">Temasek</option>
          	<option value="UTown">UTown</option>
          </select>
	    </div>
	    <div class="span6 offset2">
	      Interest:<br />
	      <textarea name="person_interest"></textarea>
	    </div>
	    <div class="span6 offset2">
	    	<input type="submit" class="btn">
	    </div>
	    <div class="span6 offset2">
          <br /> <br /> <br />
	    </div>
	  </div>
	</fieldset>	
      </form>
{% endblock %}
