<!-- Front page for logged in users -->
{% extends 'base1.html' %}

{% block content %}
     <div class="row-fluid">
  <div class="span6">
    <img class="main-pic" src="../images/CCA.png">
  </div>
  <div class="span6">
    <div class="top-pad-one">
      <p> Want to find out more about CCAs around you? <br>
        Want to let others know about what CCAs are in store for them?</p>
      
      <p> With CCA Finder, CCA finding and uploading is easier than ever!</p>
      
      <p> Find out more about CCAs around in NUS.<br>
        Check out what CCAs your friends have taken up.</p>
    </div>
  </div>
      </div>

  </div> <!--close containder fluid in base1-->
{% endblock %}