<!-- Front page for logged in users -->
{% extends 'base1.html' %}

{% block content %}
<div class="jumbotron masthead">
  <div class="container" style = "margin-bottom: 5%">
    <h1>Welcome!</h1>
    <p>Explore the menu options above to get started on an awesome journey of CCAs</p>
    <div class = "span12">
      <img class="main-pic" src="../images/CCA.png" style = "margin-right: 5%">
    </div>
  </div>
</div>
     <!--<div class="row-fluid">
  <div class="span6">
    <img class="main-pic" src="../images/CCA.png">
  </div>
  <div class="span6">
    <div class="top-pad-one" style = "text-align: center;margin-right: 20%; margin-top: 20%">
       <h4> Explore the various features of NUS CCA Finder using the menu bar above.<br></h4>
    </div>
  </div>
      </div> -->

 <!-- </div> --><!--close containder fluid in base1--> 
{% endblock %}