<!--view a cca-->
{% extends 'base1.html' %}

{% block content %}
	<div class="row">
	  <div class="span4 offset1">
      <div class="row">
        Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cca.name }}
      </div>
      <div class="row">
        Venue &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ cca.venue }}
      </div>
      <div class="row">
        Category &nbsp;&nbsp;&nbsp; {{ cca.category }}
      </div>
      <div class="row">
        Description{{ cca.description }}
      </div>
      <div class="row">
        <a href="/interestcca" class="btn btn-primary">Interested</a>
        <a href="/joincca" class="btn btn-primmary">Joined</a>
      </div>
	  </div>

    <div class="span6 offset1">
      <div class="video">
        {% if cca.videolink %}
        <iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="//www.youtube.com/embed/-XQ-7FquseY" frameborder="0" allowFullScreen></iframe>
        {% endif %}
        {% if cca.videolink!=None %}
           <span>No video found</span>
        {% endif %}
      </div>
    </div> 

    <div class="row offset1">
      {% if admin %}You can <a href="/CCA/edit">edit it</a>, or you can <a href="/addcca">add CCAs</a> {% endif %}
    </div>
  </div> 
{% endblock %}
