<!-- view page -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>NUS CCA Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
    <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery-2.0.0.min.js"></script>
  </head>
  <body>
    <div class="container-fluid"> 

      <!-- Top bar --> 
      <div class="row-fluid top-container">  
	<div class="span5">
	  <img class="logo" src="../images/nuslogo.jpg">
	</div>
	<div class="span4 offset8 signin-align">
	  <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
	</div>
      </div>
      <!-- End of top bar -->

      <!-- Main navigation -->
      <div class = "navbar">
	<div class = "navbar-inner">
	  <ul class = "nav">
	    <li> <a href="/index">Home</a> </li>
	    <li> <a href="/profile">Profile</a> </li>
	    <li> <a href="/search">Search</a> </li>
	    <li> <a href="/view">View</a> </li>
	  </ul>
	</div> 
      </div>

      <img class="itemimage" src="../images/eusoff.png" value="Eusoff">
      <img class="itemimage" src="../images/kent ridge.jpg" value="Kent Ridge">
      <img class="itemimage" src="../images/king edward.jpg" value="King Edward">
      <img class="itemimage" src="../images/raffles.jpg" value="Raffles">
      <img class="itemimage" src="../images/sheares.jpg" value="Sheares">
      <img class="itemimage" src="../images/temasek.jpg" value="Temasek">
    </div>
  </body>
</html>
